.header {
    .title {
    }
    .divider {
    }
    .total-time {
    }
}

.charts {
    .bar {
    }
}

.projects {
    display: flex;
    gap: 2rem;
    .lists {
        width: 100%;
        .list {
        }
        .detail {
        }
    }
    .donat {
        width: 30rem;
    }
}
