.header,
.content .item {
    display: flex;
    gap: 0.5rem;
    .sta {
        min-width: 2rem;
        width: 2rem;
        aspect-ratio: 1;
    }
    .exp {
        aspect-ratio: 1;
        min-width: 2rem;
        width: 2rem;
    }
    .tit {
        width: 100%;
    }
    .tag {
        width: 100%;
        text-align: right;
    }
    .dur {
        min-width: 8rem;
        width: 8rem;
        text-align: center;
    }
    .per {
        min-width: 6rem;
        width: 6rem;
        text-align: center;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
